<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script> 

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;

}
</script>

</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">CSI CEM</a></h1>
        </div>
        
        <a href="http://tr.mystockphoto.com" title="stok fotoğraf from tr.mystockphoto.com"  class="header_bg" target="_blank"><img src="images/templatemo_header.png"  alt="stok fotoğraf" /></a>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="http://csi-cem.jit.su/">Home</a></li>
            <li><a href="http://csi-cem.jit.su/Tareas">Tareas</a></li>                    
            <li><a href="http://csi-cem.jit.su/Contact">Contacto</a></li>
            <li><a href="http://csi-cem.jit.su/About" class="selected">Acerca de</a></li>
                        
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_slider">
    	<div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                
                <div class="cs_article">
                    <div class="slider_image_wrapper"><span></span>
                    	<img src="images/slider/templatemo_slide01.jpg" alt="slider image 1" />
                    </div>                    
                    <div class="cs_article_des">
                        <h2>CSI CEM</h2>
                        <p>Este sitio está destinado a comunicación y entrega de tareas del equipo CSI CEM para la clase de <em>Seguridad Informática</em>.</p>
                        <a class="more float_r" href="#"><span>Más detalles</span></a>
                    </div>                           
                </div><!-- End cs_article -->
                
                <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="images/slider/templatemo_slide02.jpg" alt="slider image 2" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Tareas</h2>
                            <p>En esta parte del sitio se podrán subir las <em>tareas</em>. Además será posible agregar comentarios/archivos a las mismas</p>
                            <a class="more float_r" href="#"><span>Ver las tareas</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="images/slider/templatemo_slide03.jpg" alt="slider image 3" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Contacto</h2>
                            <p>Se puede tener contacto con el equipo a través de esta sección. A través de esta forma se enviará <em>cualquier información</em> al equipo.</p>                            
                            <a class="more float_r" href="#"><span>Contactar</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="images/slider/templatemo_slide04.jpg" alt="slider image 4" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Acerca de</h2>
                            <p>Para saber más de los integrantes de <em>CSI CEM</em>, está disponible esta sección.</p> 
                            <a class="more float_r" href="#"><span>Stalkear</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                    
                    
              
                </div><!-- End cs_slider -->
            </div><!-- End cs_wrapper -->
        </div><!-- End contentslider -->
        
        <!-- Site JavaScript -->
        
        <script type="text/javascript">
            $(function() {
            $('#one').ContentSlider({
            width : '800px',
            height : '260px',
            speed : 400,
            easing : 'easeOutSine'
            });
            });
        </script>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_slider -->
    
    <div id="templatemo_main">
    	<div id="templatemo_content">
        	<h2>Acerca de CSI CEM</h2>
            <p>CSI CEM es un equipo de estudiantes de la materia de Seguridad Informática del ITESM-CEM. A continuación, escribiremos un poco sobre el equipo:</p>

          	<h2>Jorge Ramos</h2>
	    	<p>Estudiante de Ing. en Sistemas Computacionales, originario del norte del país. Es considerado el pueblerino de la generación. Se dice que tiene una banda (aunque creemos que es sólo una banda elástica). Candidato a graduar (o eso parece). Su anime/manga favorito es Samurai X. LoL Summoner Name: GeorgieRamos</p>
        <br />
          	<h2>Marlen Aguilar</h2>
	    	<p>Estudiante de Ing. en Sistemas Computacionales. Sí, tiene novio. Todo indica que odia el pescado y las mariposas (o cualquier cosa parecida). Le gusta bailar, pero nunca saca la fiesta. Hay que mantenerse a distancia cuando tiene comida. Muerde. LoL Summoner Name: maragui18</p>
	    	
	    	        <br />
          	<h2>Edwin González</h2>
	    	<p>Estudiante de Ing. en Sistemas Computacionales. Maniático que ahora todo quiere hacerlo con Node.js... TODO. Disfruta del hip hop y el break dance (aunque se queda solo en break). Dice que se va a especializar en redes, pero el código también le sale bonito. Él también muerde. LoL Summoner Name: EddySheikan</p>
	    	
	    	        <br />
          	<h2>Mario Esquivel</h2>
	    	<p>Estudiante de Ing. en Sistemas Computacionales. Su arma mortal son sus chinos, pero no los usa como tal. Le gustan los deportes (aunque jamás lo hayamos visto jugar uno) y leer libros de ciencia-ficción. LoL Summoner Name: marioe77</p>
    	</div>
    	<div id="templatemo_sidebar">
  
            
            <h2>Curiosidades</h2>
            <div class="sb_box_wrapper">
            	<div class="sb_box">
                	El email está inscripto en varias partes de la computadora, y en las computadoras de las personas con las que se intercambian mensajes.
                </div>                
                <div class="cleaner"></div>
            </div>
            
                        <div class="sb_box_wrapper">
            	<div class="sb_box">
                	Si se reinstala Windows sin dar formato al disco, los virus existentes seguirán ahí.
                </div>
                <div class="cleaner"></div>
            </div>
            
    </div> <!-- end of templatemo_sidebar -->
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->
    <hr />
    <div id="templatemo_footer">
        Copyright © 2084 <a href="#">Company Name</a> | <a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">Smoke House</a> by <a href="http://www.templatemo.com" target="_parent" rel="nofollow">templatemo</a>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_wrapper -->
