<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/ddsmoothmenu.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/templatemo_style.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.ennui.contentslider.css" media="screen,projection"/>
               
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/ddsmoothmenu.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.ennui.contentslider.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/javascripts/logging.js"></script>
        
        
    </head>

    <body>
        <%- body %>
    </body>
    
</html>
