<div id="site_title">
  <h1><a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">CSI CEM</a></h1>
<div id="templatemo_main" >
<br />
<br />

<center>
  <p>
    <%= msg %>
  </p>
  <form method="post" action="/login">
    Usuario <input type="text" name="user" />
    <br />
    <br />
    Contraseña  <input type="password" name="password" />
    <br />
    <br />
    <input type="submit" value="Entrar">
  </form>
</center>
</div>
