<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script> 

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;

}
</script>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">CSI CEM</a></h1>
        </div>

        <a href="http://ru.mystockphoto.com" title="Мои фото" rel="nofollow" class="header_bg" target="_blank"><img src="/images/templatemo_header.png"  alt="Мои фото" /></a>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_header -->
    
     <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="http://csi-cem.jit.su/">Home</a></li>
            <li><a href="http://csi-cem.jit.su/Tareas">Tareas</a>
                <ul>
                    <li><span class="top"></span><span class="bottom"></span></li>
                    <li><a href="http://www.templatemo.com/page/1" rel="nofollow">Sub menu item 1</a></li>
                    <li><a href="http://www.templatemo.com/page/2" rel="nofollow">Sub menu item 2</a></li>
                    <li><a href="http://www.templatemo.com/page/3" rel="nofollow">Sub menu item 3</a></li>
              	</ul>
            </li>                    
            <li><a href="http://csi-cem.jit.su/Contact" class="selected">Contacto</a></li>
            <li><a href="http://csi-cem.jit.su/About">Acerca de</a></li>
                        
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_slider">
    	<div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                
                <div class="cs_article">
                    <div class="slider_image_wrapper"><span></span>
                    	<img src="/images/slider/templatemo_slide01.jpg" alt="slider image 1" />
                    </div>                    
                    <div class="cs_article_des">
                        <h2>CSI CEM</h2>
                        <p>Este sitio está destinado a comunicación y entrega de tareas del equipo CSI CEM para la clase de <em>Seguridad Informática</em>.</p>
                        <a class="more float_r" href="#"><span>Más detalles</span></a>
                    </div>                           
                </div><!-- End cs_article -->
                
                <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide02.jpg" alt="slider image 2" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Tareas</h2>
                            <p>En esta parte del sitio se podrán subir las <em>tareas</em>. Además será posible agregar comentarios/archivos a las mismas</p>
                            <a class="more float_r" href="#"><span>Ver las tareas</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide03.jpg" alt="slider image 3" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Contacto</h2>
                            <p>Se puede tener contacto con el equipo a través de esta sección. A través de esta forma se enviará <em>cualquier información</em> al equipo.</p>                            
                            <a class="more float_r" href="#"><span>Contactar</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide04.jpg" alt="slider image 4" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Acerca de</h2>
                            <p>Para saber más de los integrantes de <em>CSI CEM</em>, está disponible esta sección.</p> 
                            <a class="more float_r" href="#"><span>Stalkear</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                    
                    
              
                </div><!-- End cs_slider -->
            </div><!-- End cs_wrapper -->
        </div><!-- End contentslider -->
        
        <!-- Site JavaScript -->
        
        <script type="text/javascript">
            $(function() {
            $('#one').ContentSlider({
            width : '800px',
            height : '260px',
            speed : 400,
            easing : 'easeOutSine'
            });
            });
        </script>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_slider -->
        
    <div id="templatemo_main">
    	<div id="templatemo_content">
        
			<div class="templatemo_post">
              <div class="templatemo_post_title">Contacto</div>
              <p align="justify">A través de esta forma es posible contactar al equipo. Basta con escribir nombre, correo electrónico y un mensaje para poder comunicarse con nosotros.</p>
              
            	<div id="contact_form">
                <form method="post" name="contact" action="/Admin/Crear" enctype="multipart/form-data">

               	  	<label for="nombre">Tarea #</label> <input type="number" id="nombre" name="nombre" class="input_field" required/>
                    <div class="cleaner h10"></div>
                   
                    <label for="desc">Descripción:</label> <input type="text" id="desc" name="desc" class="input_field" required />
                    <div class="cleaner h10"></div>
                    
                   	<label for="texto">Texto:</label> <textarea id="texto" name="texto" rows="50" cols="20" required></textarea>
                    <div class="cleaner h10"></div>
                    
                    <input type="file" name="upload" multiple="multiple">                    
                  	<input type="submit" name="submit" id="submit" value="Envíar" />
                
                </form>
                </div>
                
                <div class="cleaner"></div>
            </div>
            
      </div>
   	  <div id="templatemo_sidebar">
      		<div class="templatemo_post">
                <div class="templatemo_post_title">Dirección</div>
                <h6><strong>CSI CEM</strong></h6>
          		610-910 Aliquam semper dignissim,<br />
            	Fusce cursus turpis lacus, 12280<br />
            	Sit amet tortor et<br /><br />
				
				<strong>Phone:</strong> 000-000-0000 <br />
        		<strong>Email:</strong> <a href="mailto:notmyemail@troll.me">notmyemail@troll.me</a>  <br />
            </div>
            
            <div class="templatemo_post">
                <div class="templatemo_post_title">¿Dónde estamos?</div>
                <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Central+Park,+New+York,+NY,+USA&amp;aq=1&amp;sll=35.101934,-95.712891&amp;sspn=61.425057,135.263672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Central+Park,+New+York&amp;ll=40.771133,-73.974187&amp;spn=0.057126,0.132093&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            </div>
    	</div> 
    	<!-- end of templatemo_sidebar -->
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->

    <hr />

    <div id="templatemo_footer">
        Copyright © 2084 <a href="#">Company Name</a> | <a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">Smoke House</a> by <a href="http://www.templatemo.com" target="_parent" rel="nofollow">templatemo</a>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_wrapper -->
