<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script> 

<script type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;

}
</script>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	<div id="site_title">
        	<h1><a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">CSI CEM</a></h1>
        </div>
        
        <a href="http://pt.mystockvector.com"   class="header_bg" ><img src="/images/templatemo_header.png" title="arquivos vetoriais"  /></a>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="http://csi-cem.jit.su/">Home</a></li>
            <li><a href="http://csi-cem.jit.su/Tareas" class="selected">Tareas</a></li>                    
            <li><a href="http://csi-cem.jit.su/Contact">Contacto</a></li>
            <li><a href="http://csi-cem.jit.su/About">Acerca de</a></li>
                        
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_slider">
    	<div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                
                <div class="cs_article">
                    <div class="slider_image_wrapper"><span></span>
                    	<img src="/images/slider/templatemo_slide01.jpg" alt="slider image 1" />
                    </div>                    
                    <div class="cs_article_des">
                        <h2>CSI CEM</h2>
                        <p>Este sitio está destinado a comunicación y entrega de tareas del equipo CSI CEM para la clase de <em>Seguridad Informática</em>.</p>
                        <a class="more float_r" href="#"><span>Más detalles</span></a>
                    </div>                           
                </div><!-- End cs_article -->
                
                <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide02.jpg" alt="slider image 2" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Tareas</h2>
                            <p>En esta parte del sitio se podrán subir las <em>tareas</em>. Además será posible agregar comentarios/archivos a las mismas</p>
                            <a class="more float_r" href="#"><span>Ver las tareas</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide03.jpg" alt="slider image 3" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Contacto</h2>
                            <p>Se puede tener contacto con el equipo a través de esta sección. A través de esta forma se enviará <em>cualquier información</em> al equipo.</p>                            
                            <a class="more float_r" href="#"><span>Contactar</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                  
                  <div class="cs_article">
                        
                         <div class="slider_image_wrapper"><span></span>
                       		<img src="/images/slider/templatemo_slide04.jpg" alt="slider image 4" />
                        </div>
                        
                        <div class="cs_article_des">
                          	<h2>Acerca de</h2>
                            <p>Para saber más de los integrantes de <em>CSI CEM</em>, está disponible esta sección.</p> 
                            <a class="more float_r" href="#"><span>Stalkear</span></a>
                      </div>
                                                        
                  </div><!-- End cs_article -->
                    
                    
              
                </div><!-- End cs_slider -->
            </div><!-- End cs_wrapper -->
        </div><!-- End contentslider -->
        
        <!-- Site JavaScript -->
        
        <script type="text/javascript">
            $(function() {
            $('#one').ContentSlider({
            width : '800px',
            height : '260px',
            speed : 400,
            easing : 'easeOutSine'
            });
            });
        </script>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_slider -->
    
    <div id="templatemo_main">
    	<div id="templatemo_content">
        	<h2>Tarea <%= number %> - <%= content["Desc"] %> </h2>
            <p><%- content["Text"] %></p>
            <p><u>Archivos adjuntos:</u></p>
            <p><% if(content["AttFiles"].length === 0) { %>
              <i>No hay archivos adjuntos</i>
            <% }else {
               content["AttFiles"].forEach(function(e){ %>
                <img src="/images/file.gif" widht="9" height="15" />  <a href="/uploads/<%= e %>"><%= e %></a>
                <br />
            <% });
            } %></p>            
          <hr />
          <br />
          <h2>Archivos Comentados</h2>
            <p><% if (content["CommFiles"].length === 0) { %>
              <i>No hay archivos comentados</i>
            <% }else{
                content["CommFiles"].forEach(function(e){ %>
              <img src="/images/file.gif" widht="9" height="15" />  <a href="/uploads/<%= e %>"><%= e %></a>
              <br />
            <% }) 
              }%></p>
          <hr />
          <br />
          <h2>Comentarios</h2>
            <p><% if (content["Comments"].length === 0) { %>
              <i> No hay comentarios </i>
            <% }else{
              content["Comments"].forEach(function(e){ %>
              <%= e.user %> comentó:
              <br />
              <%= e.comment %>
              <br />
              <br />
            <% }) 
            }%></p>
          <hr />
          <br />  
          <h2>Deja un comentario</h2>
          <form action="/Comment" enctype="multipart/form-data" method="post">
            <textarea id="text" name="comment" rows="10" cols="40"></textarea>
            <br />
            <br />            
            <input type="hidden" name="number" value="<%= number %>">            
            <input type="file" name="upload" multiple="multiple">
            <br />
            <input type="submit" value="Comentar">
          </form>
          <div class="cleaner"></div>
        </div> <!-- end of content -->
        
        <div id="templatemo_sidebar">
        	<h2>Curiosidades</h2>
            <div class="sb_box_wrapper">
            	<div class="sb_box">
                	Si un solo antivirus no es una receta mágica, tampoco lo serán dos. Y, además, pueden interferirse mutuamente.
                </div>
                <div class="cleaner"></div>
            </div>
            <div class="sb_box_wrapper">
            	<div class="sb_box">
                	Aun al día, el antivirus puede no detectar ciertos invasores que todavía están en "estado salvaje".</div>
                <div class="cleaner"></div>
            </div>
        </div> <!-- end of templatemo_sidebar -->
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_main -->
    <hr />    
    <div id="templatemo_footer">
        Copyright © 2084 <a href="#">Company Name</a> | <a href="http://www.templatemo.com/preview/templatemo_383_smoke_house" rel="nofollow">Smoke House</a> by <a href="http://www.templatemo.com" target="_parent" rel="nofollow">templatemo</a>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_wrapper -->
