/* Modified by www.templatemo.com */
.ddsmoothmenu {
	margin-top: 10px;
}

.ddsmoothmenu ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	height: 30px;
	width: 100px;
	margin-left: 4px;
	padding: 4px;
	padding-top: 6px;
	line-height: 26px;
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #AAAAAA;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

/*IE6 hack to get sub menu links to behave correctly*/
* html .ddsmoothmenu ul li a { 
	display: inline-block;
}

/*CSS class that's dynamically added to the currently active menu items' LI A element*/
.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { 
	color: #00FF00;
	background: #222222;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul {  
	position: absolute;
	width: 160px;
	margin: 10px 0 0 5px;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #333;
}

.ddsmoothmenu ul li ul span.top { 
	position: absolute; 
	width: 160px; 
	height: 5px; 
	top: -5px; 
	left: 0;  
}

.ddsmoothmenu ul li ul span.bottom { 
	position: absolute; 
	width: 160px; 
	height: 5px; 
	bottom: -5px; 
	left: 0;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	font-weight: 500;
	width: 140px; /*width of sub menus*/
	height: 28px;
	line-height: 28px;
	margin: 4px 8px;
	font-size: 14px;
	text-align: left;
	background: none;
	color: #AAAAAA;
	border-bottom: 1px solid #151515;
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #00FF00;
	width: 136px;
	margin-left: 12px;
	background: none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%; } /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

.toplevelshadow { /*shadow opacity. Doesn't work in IE*/
	opacity: 0.5;
}
/* menu */
