/* Credit: http://www.templatemo.com */

@font-face {
    font-family: Librium;
    src: url('../fonts/LIBRIUM_.ttf');
}

body {
	margin: 0;
	padding: 0;
	color: #7b797a;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #1c1c1e;
	background-image: url(../images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top
}

a, a:link, a:visited { color: #00FF00; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #7b797a; font-weight: normal }
h1 { font-size: 30px; margin: 0 0 35px 0; padding: 5px 0; }
h2 { font-size: 24px; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 20px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { 
	color: #00FF00;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

a.more span { font-size: 16px; font-family: Tahoma, Geneva, sans-serif; }
a.more:hover { text-decoration: none; }

.float_l { float: left }
.float_r { float: right }

.image_title { margin-bottom: 10px; font-size: 16px; font-weight: bold; }

.image_wrapper { position: relative; display: inline-block; margin-bottom: 10px }

.image_wrapper span { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 200px; 
	height: 100px; 
	background: url(../images/templatemo_image_frame.png) no-repeat; 
}

.image_wrapper img { width: 200px; height: 100px }
.image_fl { float: left; margin: 3px 15px 5px 0 }
.image_fr { float: right; margin: 3px 0 5px 15px }

blockquote { font-style: italic; margin-left: 10px}
cite, cite a { font-weight: 700; color:#00FF00 }
cite span { color: #7b797a }
em { color: #fff }

.templatemo_list { margin: 0 0 15px 15px; padding: 0; list-style: none }

.templatemo_list li { 
	color:#7b797a; 
	margin: 0 0 6px; 
	padding: 4px 0 3px 22px; 
	background: transparent url(../images/templatemo_list.jpg) scroll 0 7px  no-repeat; 
}

.templatemo_list li a { color: #7b797a }
.templatemo_list li a:hover { color: #00FF00 }

#templatemo_wrapper { 
	width: 1002px;
	margin: 0 auto
}

#templatemo_header {
	width: 960px;
	padding: 21px;
	position:relative;
}

#templatemo_header .header_bg {
	position:absolute;
	top:50px;
	right:550px;
	cursor:default;
}

#templatemo_menu { 
	float: left;
	margin-left: 30px;
	margin-bottom: 20px; 
}

#site_title { float: left; margin-top: 40px; }

/* #site_title h1 { margin: 0; padding: 0 } */

#site_title h1 a { 
  font-family: Librium;
  color: #00FF00;
/*	display: block; 
	width: 335px; 
	height: 48px; 
	color: #333; 
	text-indent: -10000px; 
	 background: url(../images/templatemo_logo.jpg) bottom left no-repeat;*/
}

#header_right {
	float: right;
	width: 500px;
}

#social_links { float: right; margin: 0 30px 5px 0 }
#social_links a { display: inline-block; margin-left: 20px }

#search_box { 
	clear: both; 
	float: right;
	width: 250px; 
	height: 48px;
	margin: 0px;
	padding: 00px;
	background: url(../images/templatemo_search_box.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
} 

#searchfield { 
	width: 165px; 
	height: 26px;
	margin: 10px 0px 0px 10px; 
	padding: 0px 4px; 
	font-size: 12px; 
	color: #7b797a; 
	background: none; 
	border: none; 
	-moz-box-sizing: border-box;
     box-sizing: border-box;
} 

#searchbutton { 
	width: 60px; 
	height: 30px; 
	padding: 0px; 
	margin: 0px; 
	cursor: pointer; 
	background: none; 
	border: none;
}

#templatemo_slider {
	clear: both;
	width: 1002px;
	height: 223px;
	padding: 35px 0;
	background: url(../images/templatemo_slider.png) no-repeat
}

#templatemo_main {
	clear: both;
	margin: 31px;
	width: 940px;	
}

#templatemo_content {
	float: left;
	width: 600px;
}

#templatemo_sidebar {
	float: right;
	width: 300px;
}

.templatemo_fwc {
	clear: both;
	width: 1002px;
}

.fwc_box {
	width: 904px;
	height: 198px;
	margin: 0 auto;
	padding: 35px;
	background: url(../images/templatemo_box2.jpg) no-repeat
}

.box_w200 {
	float: left;
	width: 200px;
	margin-right: 30px;
}

.image_cap {
	margin-top: 5px;
	color: #4d4b4c
}

.rmb { margin-right: 0 }

.sb_box_wrapper {
	clear: both;
	margin-bottom: 30px;
}

.sb_box {
	width: 240px;
	height: 96px;
	padding: 20px 30px;
	overflow: hidden;
	line-height: 22px;
	color: #3a3a3b;
	background: url(../images/templatemo_box3.jpg) no-repeat
}

.templatemo_post {
	margin: 0px;
	padding: 20px 0px;
	border-bottom: 1px dotted #555555;
}

.templatemo_post_title {
	font-size: 28px;
	margin: 0px 0px 15px 0px;
}

.templatemo_post_tag {
	margin-bottom: 15px;
	font-size: 11px;
	font-weight: bold;
	color: #555555;
}

.post_image {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 21px;
	text-align: center;
	color: #797979;
}

#templatemo_footer a {
	color: #797979;
}

#contact_form { padding: 0; width: 300px }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	width: 400px; 
	padding: 5px; 
	color: #7b797a; 
	border: 1px solid #333333; 
	background: #000000; 
	font-family: Arial, Helvetica, sans-serif;
}

#contact_form form label { display: block; width: 100px; margin-bottom: 5px; font-size: 14px }

#contact_form form textarea { 
	width: 400px; 
	height: 150px; 
	padding: 5px; 
	color: #7b797a; 
	border: 1px solid #333333; 
	background: #000000;   
	font-family: Arial, Helvetica, sans-serif;
}

#contact_form form .submit_btn { 
	cursor: pointer; 
	margin: 0px;
	padding: 8px 14px; 
	color: #7b797a; 
	border: 1px solid #333333; 
	background: #000000; 
}
